/* ────────────────────────────────────────────────
   CSS Reset / Normalization
   ──────────────────────────────────────────────── */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
	scroll-snap-type: y proximity;
	overflow-y: scroll;
	height: 100%;
}

body{
	background-color: #000;
	color: #fff;
	display: block;
	text-align: center;
	font-family: monospace;
	font-size: 1.5rem;
}

.sectionDiv{
	min-width: 99vw;
	min-height: 100vh;
	justify-content: center;
	align-content: center;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

.worksDiv{
	scroll-snap-align: center;
	scroll-snap-stop: always;
	flex: 0 0 100vw;
	display: flex;
	justify-content: center;
	min-width: 100vw;
	min-height: 100vh;
	align-items: center;
	box-sizing: border-box;
}

#main{
	background-color: #1c2173;
}
#order{
	background-color: #28732e;
}
#works{
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	background-color: #8f5f32;
	scroll-snap-type: x proximity;
	scrollbar-width: none;
	scroll-behavior: smooth;
	scrollbar-width: none;
	min-height: 100vh;
	align-items: center;
}

#contacts{
	background-color: #266e5d;
}
#scrollOut{
	background-color: #700928;
}

#navbar{
	width: 100vw;
	background-color: #700928;
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	align-content: center;
	border-bottom: 1px solid #ff9470;
}
#navbar ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 10rem;
}
#navbar li {
	display: inline;
}

a{
	color: #1a1210;
	text-decoration: none;
}
a:hover{
	color: #ff9470;
	text-shadow: 0 0 20px #ff9470;
}